<?xml version="1.0"?>

<model>
  <name>Box</name>
  <version>1.0</version>
  <sdf version='1.5'>box.sdf</sdf>

  <author>
    <name>Ibrahim Ahmed</name>
    <email>ibrahim.ahmed@vanderbilt.edu</email>
  </author>

  <description>
    A test model to learn Gazebo-9 w/ ROS integration.
  </description>
</model>