<?xml version="1.0"?>

<model>
  <name>Octocopter</name>
  <version>1.0</version>
  <sdf version='1.5'>octocopter.sdf</sdf>

  <author>
    <name>Ibrahim Ahmed</name>
    <email>ibrahim.ahmed@vanderbilt.edu</email>
  </author>

  <description>
    Simplified octocopter model.
  </description>
</model>